.aman-table-scroll {
    overflow-x: auto;
}
.aman-table-scroll table {
    white-space: nowrap;
}

.user-img{
	height: 80px;
	width: 80px;
	border-radius: 40px;
}
.aman-a a {
    color: #01AAED;
}
.tools-img{
	height: 30px;
	width: 30px;
	border-radius: 15px;
}
.links-img{
	height: 20px;
	width: 20px;
	border-radius: 10px;
}
.layui-upload-img {
    width: 92px;
    height: 92px;
    margin: 0 10px 10px 0;
}

.fr{
	float: right;
}
.aman-text-success{
	color: #5FB878;
}
.aman-text-error{
	color: #FF5722;
}
.aman-text-warn{
	color: #FFB800;
}
.browser {
    width: 20px;
    height: 20px;
}
.layui-table td, .layui-table th{
	min-width:inherit;
}

.page a, .page span {
    padding: 5px 10px!important;
}


















