<!DOCTYPE html>
<html class="x-admin-sm">
{include file="public/head"}
<style>
    body{
        background:#fff;
    }
</style>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-card-body  aman-table-scroll">
            <table class="layui-table layui-form">
                <thead>
                    <th>用户</th>
                    <th>积分</th>
                    <th>银币</th>
                    <th>一血</th>
                    <th>解题时间</th>
                    <th>用时</th>
                </thead>
                <tbody>
                {foreach $list as $key=>$v}
                    <tr>
                        <td>{$v.get_user.nickname}</td>
                        <td>{$v.get_subject.value}PT</td>
                        <td>{$v.coin}</td>
                        <td>{$v.first=='1'?'是':''}</td>
                        <td>{:date('Y-m-d H:i:s',$v.end_time)}</td>
                        <td>{:timediff(strtotime($v.create_time),$v.end_time)}</td>
                    </tr>
                {/foreach}

                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'layer'],
        function() {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            //自定义验证规则
            form.verify({
                nikename: function(value) {
                    if (value.length < 5) {
                        return '昵称至少得5个字符啊';
                    }
                },
                pass: [/(.+){6,12}$/, '密码必须6到12位'],
                repass: function(value) {
                    if ($('#L_pass').val() != $('#L_repass').val()) {
                        return '两次密码不一致';
                    }
                }
            });

            //监听提交
            form.on('submit(add)',
                function(data) {
                    console.log(data);
                    //发异步，把数据提交给php
                    layer.alert("增加成功", {
                            icon: 6
                        },
                        function() {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                    return false;
                });

        });</script>
<script>var _hmt = _hmt || []; (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</body>
</html>