<!DOCTYPE html>
<html class="x-admin-sm">
{include file="public/head"}
<body>
<div class="x-nav">
    <span class="layui-breadcrumb">
    <a href="">首页</a>
        <a href="">网站安全</a>
        <a> <cite>安全警告</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh"
           style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">安全日志</div>
                <div class="layui-card-body">
                    <span class="layui-badge layui-bg-orange">管理员</span>
                    <span class="layui-badge layui-bg-green">用户</span>
                    <span class="layui-badge layui-bg-gray">游客</span>
                </div>
                <div class="layui-card-body  aman-table-scroll">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>用户</th>
                            <th>等级</th>
                            <th>记录原因</th>
                            <th>URL</th>
                            <th>Method</th>
                            <th>浏览器</th>
                            <th>设备</th>
                            <th>Cookie</th>
                            <th>IP</th>
                            <th>时间</th>
                            <th>数据</th>
                        </tr>
                        </thead>
                        <tbody class="aman-a">
                        {foreach $list as $key=>$v}
                        <tr>
                            <td>
                                {switch $v.usertype}
                                {case 1} <span class="layui-badge layui-bg-green">{$v.getUser.nickname}</span>{/case}
                                {case 2}<span class="layui-badge layui-bg-orange">{$v.getAdmin.nickname}</span>{/case}
                                {default /}<span  class="layui-badge layui-bg-gray">游客</span>
                                {/switch}
                            </td>
                            <td>
                                {switch $v.type}
                                {case 1} <span class="layui-badge layui-bg-orange">警告</span>{/case}
                                {case 2}<span class="layui-badge layui-bg-warm">危险</span>{/case}
                                {default /}<span class="am-badge layui-bg-black">异常</span>
                                {/switch}
                            </td>
                            <td>{$v.info}</td>
                            <td><a href="">{$v.url|urldecode}</a></td>
                            <td>{$v.method}</td>
                            <td><img class="browser" src="{$v.agent|getBrowser}" alt=""></td>
                            <td>{$v.agent|getOs}</td>
                            <td>{$v.cookie}</td>
                            <td>{$v.ip|default="0.0.0.0"}</td>
                            <td>{$v.create_time}</td>
                            <td>{$v.data}</td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        {$page|raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{include file="public/foot"}
</html>